XamarinSeed.Common/bin/
XamarinSeed.Common/obj/
XamarinSeed.ViewModel/bin/
XamarinSeed.ViewModel/obj/
XamarinSeed.Service/bin/
XamarinSeed.Service/obj/
XamarinSeed.Model/bin/
XamarinSeed.Model/obj/
XamarinSeed/XamarinSeed.Android/bin/
XamarinSeed/XamarinSeed.Android/obj/
XamarinSeed/XamarinSeed.iOS/obj/
XamarinSeed/XamarinSeed.iOS/bin/
XamarinSeed/XamarinSeed/bin/
XamarinSeed/XamarinSeed/obj/
